#registro,
#contacto {
  width: 50%;
  padding: 1rem; /*box-shadow: 5px 5px 10px gray;*/
}

form {
  margin-top: 1rem;
}
form table {
  width: 100%;
}
form table td {
  vertical-align: top;
  padding: 0.5rem 0;
}

form table tr:last-child td:last-child {
  text-align: right;
}

form input,
select,
textarea {
  width: calc(100% - 1rem);
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
  border: solid 0.05rem gray;
  display: block;
}

input[type="radio"]:checked + label {
  outline: red 0.3rem solid;
}

input[type="checkbox"]:checked + label {
  outline: red 0.3rem solid;
}

input[type="radio"]:hover + label {
  outline: red 0.3rem solid;
}

input[type="checkbox"]:hover + label {
  outline: red 0.3rem solid;
}

input[type="checkbox"]:focus + label {
  outline: red 0.3rem solid;
}
input[type="text"]:focus {
  outline: red 0.3rem solid;
}

input[type="password"]:focus {
  outline: red 0.3rem solid;
}
input[type="number"]:focus {
  outline: red 0.3rem solid;
}

select:focus {
  outline: red 0.3rem solid;
}

form input[type="button"],
form button,
input[type="submit"] {
  background: linear-gradient(to bottom, #ddd 5%, #eee 100%);
  background-color: #ddd;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  color: #333;
  padding: 4px;
  text-decoration: none;
  border-radius: 10px;
  width: 5rem;
}

input[name="tellada"] {
  width: 50px;
  display: inline;
}
input[name="telnum"] {
  width: 200px;
  display: inline;
}

input[type="checkbox"],
input[type="radio"] {
  width: 20px !important;
  padding-left: 10px !important;
  display: inline;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  padding-left: 20px !important;
  margin-left: -25px !important;
  padding-right: 5px;
  margin-right: 5px;
}

.enviar {
  display: block;
  width: 4.4rem;
  height: 1.5rem;
  background: url("../src/enviar.png");
  background-size: cover;
}

#mensajes {
  display: none;
  padding: 1em;
  border-radius: 0.5em;
  border: 0.1em solid #ccc;
  font-size: 0.8em;
  background: #fff;
  margin-bottom: 1em;
}

#mensajes a {
  line-height: 150%;
  color: black;
}

#mensajes[tabindex="0"] {
  display: block;
}

#mensajes ul {
  padding: 0;
  list-style: none;
}

@media only screen and (max-width: 1000px) {
  #registro {
    width: 95%;
  }
}
